@import url("https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@700&family=Vollkorn:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Vollkorn;
}

body {
  background-color: #525c8b;
  max-width: 1920px;
  background-image: url("/background.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
